<%-include('header',data) %>
    <div id="content"><br>
        <%data=JSON.parse(data)%>
            <%for(const container of data.containers){%>
                <div>
                    <br>
                    <div class="container jump <%-container.classes%>" <%-container.extra%>>
                        <h3>
                            <%-container.header%>
                        </h3>
                        <p>
                            <%-container.content%>
                        </p>
                    </div>
                </div>
                <%}%>
    </div>
    <%-include footer%>