<% data=JSON.parse(data) %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>
            <%- data.header.page%> | Excigma</title>
        <meta name="theme-color" content="#6477be">
        <link rel="icon" type="image/x-icon" href="/assets/avatar.jpg">
        <link rel="stylesheet" href="/assets/stylesheet.css?ver=0.0.5">
        <meta name="description" content="Something" />
        <meta property="og:title" content="Excigma's website" />
        <meta property="og:description" content="Some website I made when I had nothing to do." />
        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="/" />
        <meta property="og:site_name" content="Excigma's website" />
        <meta property="og:image" content="/assets/avatar.jpg" />
    </head>

    <body>
        <header>
            <nav class="nav">
                <ul>
                    <li id="home">
                        <a href="/home">
                            <img class="circle icon sameSize" src="/assets/avatar.jpg" /> Excigma</a>
                    </li>
                    <li class="mobile" <%- data.header.page=="Projects" ? 'id="active"' : "" %>><a href="Projects">Projects </a></li>
                    <li class="mobile" <%- data.header.page=="Feedback" ? 'id="active"' : "" %>><a href="Feedback">Feedback </a></li>
                    <li class="mobile" <%- data.header.page=="Contact" ? 'id="active"' : "" %>><a href="Contact">Contact </a></li>
                    <li class="desktop"><label id="checkboxLabel" for="dropdown">≡</label><input class="dropdown-open" type="checkbox" id="dropdown" aria-hidden="true" hidden/>
                        <div class="dropdown-inner">
                            <div class="nav">
                                <ul>
                                    <li><a href="Projects">Projects</a></li>
                                    <li><a href="Feedback">Feedback</a></li>
                                    <li><a href="Contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div id="title">
            <div class="hover flip-container">
                <div class="flipper">
                    <div class="front"><img class="circle icon" src="/assets/excigma.jpg" /></div>
                    <div class="back"><img class="circle icon" src="/assets/avatar.jpg" /></div>
                </div>
            </div>
            <h1>
                <%-data.header.page %>
            </h1>
            <h2>
                <%-data.header.subheading %>
            </h2>
            <h3>
                <%-data.header.description %>
            </h3>
            <a href="#content" class="nolink">
                <div class="arrow hover"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 452 452'%3e %3cpath fill='white' stroke='white' stroke-width='20' d='M204 343L14 153a31 31 0 1 1 44-44l168 168 168-168a31 31 0 0 1 44 44L248 343a31 31 0 0 1-44 0z' class='active-path' data-original='%2523000000'/%3e %3c/svg%3e"
                    /></div>
            </a>
            <a href="#top" class="nolink" id="return-to-top"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 452 452'%3e %3cpath fill='white' stroke='white' stroke-width='20' d='M204 343L14 153a31 31 0 1 1 44-44l168 168 168-168a31 31 0 0 1 44 44L248 343a31 31 0 0 1-44 0z' class='active-path' data-original='%2523000000'/%3e %3c/svg%3e"
                /></a>
        </div>